/* Question.css */

.question-container {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 21px;
    /* background-color: #f9f9f9; */
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.question-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}